<div id="info-header">
    <p id="p-text">Information about Ottawa</p>
</div>

<div id="info-master-container" style="background-image: url('../img/infobackground.jpg')">
    <div id="info-left">
        <div class="info-sub-header">
            <p>Accommodations available</p>
        </div>

        <ul class="info-list">
            <li class="info-list-population">Fairmont Château Laurier</li>
            <p>Experience luxury and elegance at the iconic Fairmont Château Laurier, situated in the heart of Ottawa's
                downtown core.</p>
            <li class="info-list-population">Andaz Ottawa ByWard Market</li>
            <p>Enjoy contemporary style and comfort at the Andaz Ottawa ByWard Market, located in the vibrant ByWard
                Market neighborhood.</p>
            <li class="info-list-population">Brookstreet Hotel</li>
            <p>Discover modern sophistication and impeccable service at the Brookstreet Hotel, offering a tranquil
                retreat just outside of downtown.</p>
            <li class="info-list-population">Alt Hotel Ottawa</li>
            <p>Embrace a chic and modern atmosphere at Alt Hotel Ottawa, conveniently located near downtown attractions.
            </p>
            <li class="info-list-population">The Westin Ottawa</li>
            <p>Experience upscale accommodations and stunning views of Parliament Hill at The Westin Ottawa.</p>
            <li class="info-list-population">Lord Elgin Hotel</li>
            <p>Immerse yourself in history and charm at the historic Lord Elgin Hotel, nestled near major attractions.
            </p>

        </ul>
        <div class="info-img-container">
            <p>Riviera Restaurant, 62 Sparks Street</p>
            <img class="info-img" src="../img/riviera.jpg">
        </div>

        <div class="info-sub-header">
            <p>How to travel to Ottawa</p>
        </div>

        <ul class="info-list">
            <li class="info-list-population">By Plane</li>
            <p>Ottawa is home to the Ottawa International Airport, also known as the Macdonald-Cartier airport.</p>
            <li class="info-list-population">By Train</li>
            <p>Ottawa is home to a VIA rail station allowing for easy transit along the Windsor corridor.</p>
            <li class="info-list-population">By Car</li>
            <p>You can travel to Ottawa by car easily along the 417</p>
            <li class="info-list-population">By Bike</li>
            <p>It is possible to bike from Montreal or Toronto to Ottawa</p>
        </ul>

        <div class="info-img-container">
            <p>LRT heading to Bayview Station</p>
            <img class="info-img" src="../img/lrt.jpg">
        </div>

    </div>

    <div id="info-right">
        <div class="info-img-container">
            <p>Fairmont Chateau Laurier, 1 Rideau Street</p>
            <img class="info-img" src="../img/fairmont.jpg">
        </div>

        <div class="info-sub-header">
            <p>Restaurants in Ottawa</p>
        </div>

        <ul class="info-list">
            <li class="info-list-population">Beckta Dining and Wine</li>
            <p>Indulge in a memorable fine dining experience at Beckta, known for its innovative cuisine and extensive
                wine selection.</p>
            <li class="info-list-population">Riviera</li>
            <p>Immerse yourself in a chic and stylish setting at Riviera, offering a menu inspired by Mediterranean and
                French flavors.</p>
            <li class="info-list-population">Fraser Café</li>
            <p>Savor delectable dishes crafted with locally sourced ingredients at the cozy and welcoming Fraser Café.
            </p>
            <li class="info-list-population">Play Food and Wine</li>
            <p>Delight in a vibrant and eclectic menu featuring seasonal ingredients at Play Food and Wine.</p>
            <li class="info-list-population">North and Navy</li>
            <p>Experience refined Italian cuisine with a modern twist at the elegant North and Navy</p>
        </ul>

        <div class="info-img-container">
            <p>Macdonald-Cartier International Airport, 1000 Airport Parkway Private</p>
            <img class="info-img" src="../img/ottawaairport.jpg">
        </div>

        <div class="info-sub-header">
            <p>How to get around Ottawa</p>
        </div>

        <ul class="info-list">
            <li class="info-list-population">By Public Transit</li>
            <p>Ottawa offers an LRT system and a bus system through OCTranspo.</p>
            <li class="info-list-population">By Bike</li>
            <p>There are a few stores in Ottawa that rent bikes, like Escape Tours.</p>
            <li class="info-list-population">By Car</li>
            <p>Ottawa is the driving capital of Canada, we love our cars! Enjoy privileged roads at the expense of all
                other users!
            </p>
            <li class="info-list-population">By Foot</li>
            <p>Walking from Centretown to the Byward market is fun and enjoyable</p>
            <li class="info-list-population">Electric Scooter</li>
            <p>Ottawa offers electric scooters for rent, they are hard to miss as they're littered all throughout the
                streets</p>
        </ul>
    </div>

</div>