<div id="info-header">
    <p>Information about Ottawa</p>
</div>

<div id="info-master-container">
    <div id="info-left">
        left
    </div>

    <div id="info-right">
        right
    </div>

</div>