<div id="info-header">
    <p>Information about Ottawa</p>
</div>

<div id="info-master-container">
    <div id="info-left">
        <p>Accommodations available</p>
        <ul class="accommodations-list">
            <li class="accommodations">Fairmont Château Laurier</li>
            <p>Experience luxury and elegance at the iconic Fairmont Château Laurier, situated in the heart of Ottawa's
                downtown core.</p>
            <li class="accommodations">Andaz Ottawa ByWard Market</li>
            <p>Enjoy contemporary style and comfort at the Andaz Ottawa ByWard Market, located in the vibrant ByWard
                Market neighborhood.</p>
            <li class="accommodations">Brookstreet Hotel</li>
            <p>Discover modern sophistication and impeccable service at the Brookstreet Hotel, offering a tranquil
                retreat just outside of downtown.</p>
            <li class="accommodations">Alt Hotel Ottawa</li>
            <p>Embrace a chic and modern atmosphere at Alt Hotel Ottawa, conveniently located near downtown attractions.
            </p>
            <li class="accommodations">The Westin Ottawa</li>
            <p>Experience upscale accommodations and stunning views of Parliament Hill at The Westin Ottawa.</p>
            <li class="accommodations">Lord Elgin Hotel</li>
            <p>Immerse yourself in history and charm at the historic Lord Elgin Hotel, nestled near major attractions.
            </p>
        </ul>
    </div>

    <div id="info-right">
        <img id="fairmont" src="../img/fairmont.jpg">
        <p>Restaurants in Ottawa</p>
        <ul class="restaurants-list">
            <li class="restaurants">Beckta Dining and Wine</li>
            <p>Indulge in a memorable fine dining experience at Beckta, known for its innovative cuisine and extensive
                wine selection.</p>
            <li class="restaurants">Riviera</li>
            <p>Immerse yourself in a chic and stylish setting at Riviera, offering a menu inspired by Mediterranean and
                French flavors.</p>
            <li class="restaurants">Fraser Café</li>
            <p>Savor delectable dishes crafted with locally sourced ingredients at the cozy and welcoming Fraser Café.
            </p>
            <li class="restaurants">Play Food and Wine</li>
            <p>Delight in a vibrant and eclectic menu featuring seasonal ingredients at Play Food and Wine.</p>
            <li class="restaurants">North and Navy</li>
            <p>Experience refined Italian cuisine with a modern twist at the elegant North and Navy</p>
        </ul>
    </div>

</div>