<div id="landing-header">
    <p>Experience all Ottawa has to offer</p>
</div>
<div id="landing-main">
    <div id="landing-left">
        <p>picture one</p>
    </div>
    <div id="landing-middle">
        <img id="parliament" src="../img/parliamenthill.jpg">
    </div>

    <div id="landing-right">
        <p>picture three</p>
    </div>
</div>