<div id="landing-header">
    <p>Experience all Ottawa has to offer</p>
</div>

<div id="landing-container">
    <div id="landing-main">
        <div id="landing-left">
            <img id="ottawabridge" src="../img/ottawabridge.jpg">
            <p>Dominion Arboretum</p>
        </div>
        <div id="landing-middle">
            <img id="parliament" src="../img/parliamenthill.jpg">
            <p>Parliament of Canada</p>
        </div>

        <div id="landing-right">
            <img id="alexandra" src="../img/alexandra.png">
            <p>Alexandra Bridge</p>
        </div>
    </div>

    <div class="landing-sub-header">
        <p>Fun for anyone visiting Ottawa</p>
    </div>

    <div class="landing-sub-photo">
        <img id="carbide" src="../img/carbide-mills.jpg">
    </div>

    <div id="landing-sub">
        <div id="landing-sub-left">
            <img id="ottawabridge" src="../img/rideau-canal-skating.jpg">
            <p>Skate on the Rideau Canal</p>
        </div>
        <div id="landing-sub-middle">
            <img id="parliament" src="../img/gatineau.jpg">
            <p>Hike in Gatineau Park</p>
        </div>

        <div id="landing-sub-right">
            <img id="alexandra" src="../img/tulip.jpg">
            <p>Explore the Tulip Festival</p>
        </div>
    </div>

    <div class="landing-sub-header">
        <p>Experience life like an Ottawan</p>
    </div>

    <div class="landing-sub-photo">
        <img id="tavern" src="../img/tavern.jpg">
    </div>
</div>