<div id="map-header">
    <img id="walking" src="../img/walking.gif" />
    <p id="p-text">Browse the map</p>
    <img id="walking" src="../img/frontwalking.gif" />
</div>
<div id="map-master-container">
    <div id="location-header">

    </div>
    <div id="map-places">
        <div id="locations">

        </div>
    </div>

    <div id="map"></div>
</div>