<div id="map-header">
    <p>Browse the map</p>
</div>
<div id="map-master-container">
    <div id="location-header">

    </div>
    <div id="map-places">
        <div id="locations">

        </div>
    </div>

    <div id="map"></div>
</div>