{{!-- <div id="map"></div>
<div id="toolbar">
    <div id="weather">
        <p>what about this?</p>
    </div>
    <select id="places">

    </select>

</div> --}}


<style>
    #map {
        width: 70%;
        height: 70vh;
    }
</style>

<div id="map-root">
    <p>Map page</p>
    <select id="places"></select>
    <div id="map"></div>
</div>