<div id="root-master-container">
	<div id="root-left">
		<div id="weatherBar">

		</div>
	</div>
	<div id="root-middle">
		<p id="root-header">{{siteInfo.title}}</p>
		<nav>
			<ul id="root-nav">
				{{#each pages}}
				<li class="navigation-li" data-link="{{name}}">{{name}}</li>
				{{/each}}
			</ul>

		</nav>
	</div>

	<div id="root-right">
		<a href="#top"><img id="instagram-logo" alt="facebook.com" src="../img/instalogo.svg"></a>
		<a href="#top"><img id="facebook-logo" alt="instagram.com" src="../img/facebooklogo.png"></a>
	</div>
</div>

{{!-- <div id="up-anchor">
	<a href="#top"><img id="anchor" src="../img/anchor.png"></a>
</div> --}}

<main id="root-main">
	<p>this is root</p>
</main>

<footer id="footer">Made by Xin and Joshua, Heritage College</footer>