{{!-- weatherEl.innerHTML = `<div>${data.date}</div>` + `<div>${data.wDescriptions}</div>` + `<div>
    ${data.temperature}&#176C</div>`
}); --}}

<div class="weather_container">
    <div>Last updated: {{date}}</div>
    <div>Today: {{wDescriptions}}</div>
    <img src="{{wIcon}}" />
    <div>Now: {{temperature}}&#176C</div>
</div>